models/
data/*
__pycache__/
**/checkpoints/
result/
envs/curobo
*.zip
viewer_show.*
eval_video/
task_config/

# eval result
eval_result/

# Code Generation
assets/*
!assets/_download.py
!assets/files

policy/weights/*

envs/curobo/*

.vscode
/config.json

/*.json*
/*.txt

# 忽略所有数据文件
data/
policy/HPT/processed_data/
policy/HPT/data/ # 如果存在

# 忽略所有评测结果
eval_result/

# 忽略所有训练产物和预训练模型
policy/HPT/output/
policy/HPT/outputs/
policy/HPT/hpt-xlarge/
policy/HPT/t5-base/

# 忽略所有 3D 模型等资源文件
assets/objects/